// Theme colors
$body-bg: #e6e6e6;
$primary-color: rgb(148, 36, 60);
$secondary-color: #fff;

// Misc
$navbar-height: 56px;

// Bootstrap variables override
$primary: $primary-color !default;
$font-family-base: "Muli", sans-serif !default;
