// Theme colors
$body-bg: #e6e6e6;
$footer-bg: #343a4c;
$primary-color: #436f48;
$secondary-color: #fff;

// Misc
$navbar-height: 56px;

// Bootstrap variables override
$primary: $primary-color !default;
$font-family-base: "Muli", sans-serif !default;
