body {
  background-color: $body-bg;
  overflow-y: scroll;
}

.navbar-wrapper {
  height: $navbar-height;
  margin-bottom: $navbar-height / 2;

  & > nav {
    z-index: 5000;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 3.5rem 0;
  font-size: 14px;
  text-align: center;
  background-color: $footer-bg;
}
